html {
	font-size: 62.5%;
	max-height: 100vh;
	max-width: 100%;
	box-sizing: border-box;
}

.App {
	height: 100vh;
	text-align: center;
	background: black;
}

.navbar {
	display: flex;
	justify-content: space-between;
	text-align: center;
	
}

h1 {
	font-size: 3rem;
	color: white;

}

.NLink {
	text-decoration: none;
	padding: 0.5%;
	color: rgba(248, 246, 246, 0.6);
	font-size: 2rem;
}

.navbar > a.activeNavButton {
	background-color: #f9fcae;
	color: black;
	border: 1px solid black;
	box-shadow: 0 5px 10px black;
}

.life {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider {
	margin-top: 1%;
	width: 40%;
	font-size: 1.5rem;
	color: #f5f1a9;
}

.label {
	color: white;
	font-size: 1.5rem;
	margin: 0 1%;
}

.form {
	width: 40%;
}

.input {
	width: 10%;
}
.submit {
	background: gold;
	margin: 0 1%;
	font-size: 1.5rem;
}
.top {
	display: flex;
	justify-content: center;
	border: 2px solid black;
	width: 80%;
}

@media (max-width: 767px) {
	.top {
		width: 100%;
	}
}

.bar {
	font-size: 2rem;
	padding: 0.2%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15%;
}
@media (max-width: 767px) {
	.bar {
		width: 20%;
	}
}
.random {
	background: gold;
	color: black;
}
.random:hover{
	background: black;
	color: gold;
	border: 1px solid white;
}
.cycle {
	background: white;
}
.progress {
	background: red;
}
.size {
	color: yellow;
}

.clear {
	background: #f9fcae;
}

.generation {
	background: grey;
	color: white;
}
.game {
	flex: 1 0 auto;
}
.presets {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #696969;
	font-size: 3rem;
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.presets > div:hover{
	color: gold;
}
.presets > p {
	color: black;
	padding: 0 1%;
	font-size: 1.5rem;
}
