.App {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}


.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

h1{
  font-size: 3rem;
  /* color: white; */
  margin-bottom: 2%;
}

.label {
  color:white;
}
.NLink {
  text-decoration: none;
  padding: 1%;
  color: black;
  font-size: 2.5rem;
}


.navbar > a.activeNavButton {
  background-color: yellow;
  color: black;
  border:1px solid black;
  box-shadow: 0 5px 10px black;
} 

/* .life {
  background: blue;
  padding: 10%;
} */
.game {
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: black;
}