.App {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  max-width: 100%;
  background: black;
}

html {
  font-size: 62.5%;
}


.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

h1{
  font-size: 3rem;
  /* color: white; */
  margin-bottom: 2%;
}

.label {
  color:white;
}
.NLink {
  text-decoration: none;
  padding: 1%;
  color:rgba(248, 246, 246, 0.6);
  font-size: 2.5rem;
}


.navbar > a.activeNavButton {
  background-color: yellow;
  color: black;
  border:1px solid black;
  box-shadow: 0 5px 10px black;
} 

.life {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}

.top {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 80%;
}

.bar {
  font-size: 2rem;
  padding: .2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.random {
  background: gold;
  color: black;
}
.cycle {
  background: white;
}

.size {
  color: yellow;
}

.clear {
  background: #f9fcae;
}

.generation {
  background: grey;
  color: white;
}

.presets {
  color: #f5f1a9;
  border: 1px solid #f5f1a9;
  font-size: 2rem;
}